:root {
    --grid-width: 114rem;
    --gutter-vertical: 8rem;
    --gutter-horizontal: 6rem;
    --color-text: #48283d;
    --color-background: #85496f;
    --color-primary: #f1956e;
    --color-secodary: #f9d46c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.6rem;
    font-family: monospace;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}

.Fl-l {
    float: left;
}

.Mr-h {
    margin-right: var(--gutter-horizontal);
}

.Mr-h:last-child {
    margin-right: 0;
}

.Bgc-p {
    background-color: var(--color-primary);
}

.Bgc-s {
    background-color: var(--color-secodary);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.row {
    max-width: var(--grid-width);
    margin: 0 auto var(--gutter-vertical);
    padding: 2rem;
}

.row:last-child {
    margin-bottom: 0;
}

.row > .col-1-of-2 {
    width: calc((100% - var(--gutter-horizontal)) / 2);
}

.row > .col-1-of-3 {
    width: calc((100% - 2*var(--gutter-horizontal)) / 3);
}
