:root {
    --grid-width: 114rem;
    --gutter-vertical: 8rem;
    --gutter-horizontal: 6rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.6rem;
    font-family: monospace;
    margin: 0;
}

.row {
    max-width: var(--grid-width);
    background-color: #eee;
    margin: 0 auto 8rem;
}
